body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(123, 123, 123); 
}
header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    top:0;
    left:0;
    background-color: rgb(123, 123, 123);
    margin:-10px;
}
div.header{
    display:grid;
    grid-template-columns: 1fr 5fr;
    gap:1em;
}
img.logo{
    padding:0.5em;
    margin:auto;
    width: 100%;
    height: auto;
    max-width: 50px;
}
h1{
    margin:auto;
    text-align:center;
}
h2{
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 0.2em;
}
h5{
    font-family:'Times New Roman', Times, serif;
    margin: 0.2em;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    background-color: darkgray;
}
a.navLink{
    padding:1em;
}
p{
    font-family:'Courier New', Courier, monospace;
}
p.article{
    text-indent: 1em;
}
article{
    font-family:'Courier New', Courier, monospace;
    width: 50%;
    margin:5px;
}
aside{
    float: right;
    padding:0 1em;
}
aside.left{
    float: left;
}
table{
    background-color: black;
    border: 1px solid black;
    font-size: x-small;
    width: 100%;
}
th{
    background-color: darkgray;
}
tr{
    background-color: lightgray;
}
td{
    padding:0 0.3em;
}
form{
    margin-top:2em;
    background-color: lightgray;
    display:flex;
    flex-flow:column;
    align-items: center;
    padding:5px;
}
label{
    background-color: rgb(195, 195, 195);
    display:flex;
    width:100%;
    justify-content: space-between;
    margin:0.1em;
}
input{
    background-color: rgb(171, 171, 171);
}
select{
    background-color: rgb(171, 171, 171);
}
button{
    margin: 0.5em;
    width:96%;
}
section.blog{
    display:flex;
    flex-direction: row;
    background-color: lightgray;
}
section{
    background-color: lightgray;
}
section.about{
    display: grid;
    grid-template-columns: 1fr  2fr 1fr;
    gap:2em
}
aside.list{
    float:right;
    width:100%;
}
figure{
    float:left;
    margin:1em;
    width: 100%;
}
p.about{
    width:100%
}
img{
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    section.about{
        grid-template-columns: 1fr 1fr;
    }
    p.article{
        margin-top:0.5em;
        text-indent:0em;
        font-size: small;
    }
}
@media  screen and (max-width:400px) {
    form{
        background-color: rgb(195, 195, 195);
    }
    label{
        display:contents;
    }
    input{
        width:50%;
    }
    select{
        width:50%;
    }
    button{
        margin-top:1em;
        width:75%;
    }
    form.newsletter{
        margin-top:0.5em;
    }
}
@media screen and (max-width:300px){
    div.header{
        grid-template-columns: 1fr 4fr;
    }
    h1{
        font-size: large;
    }
}